.table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
}

.table-row .position {
    width: 5%;
    text-align: center;
}
.table-row .image {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-row .image img {
    margin: 0;
}
.table-row .team {
    width: 25%;
    padding: 0 0 0 10px;
}
.table-row .points {
    width: 10%;
    text-align: center;
    font-weight: bold;
}
.table-row .stats {
    width: 5%;
    text-align: center;
}
.table-row.header {
    font-weight: bold;
}

.table-row .statsHeader {
    text-align: center;
    width: 5%;
}

.table-row div {
    height: 100%;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .table-row .stats, .table-row .statsHeader, .table-row .position {
        width: 10%;
    }
    .table-row .image {
        width: 10%;
    }
}