.standingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding: 1rem;
    overflow: hidden;
    background: white;
    margin: 20px 0;
}

.standingsHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 0 15px 0;
}

.standingsHeader, .standingsTeamsContainer span {
    text-align: center;
}

.standingsTeamsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.standingsTeam {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 34px;
    padding: 8px 0;
    border-bottom: 1px solid #e6e6e6;
}

/* .teamName {
    width: 20%;
}

span.teamName {
    text-align: left;
} */

.teamName {
    padding: 0 4px;
    margin-left: 10px;
}

.match {
    width: 8%;
}

.goals {
    width: 12%;
}

.imageWrapper {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.imageWrapper img {
    margin: 0;
}

.rank {
    width: 5%;
}

.points {
    width: 8%;
}

@media only screen and (max-width: 960px) {
    .rank {
        display: none;
    }

    .points {
        width: 15%;
    }

    .standingsContainer {
        width: 90%;
    }

    .standingsContainer {
        box-shadow: none;
    }
}

@media only screen and (min-width: 1280px) {
    .standingsContainer {
        width: 50%;
    }
}


.championsLeague {
    background-image: linear-gradient(to top,rgba(0, 125, 214, 0.25) 35%,transparent 35%,transparent 100%);
}

.europaLeague {
    background-image: linear-gradient(to top,rgba(0, 214, 16, 0.25) 35%,transparent 35%,transparent 100%);
}

.serieB {
    background-image: linear-gradient(to top,rgba(214, 0, 188, 0.25) 35%,transparent 35%,transparent 100%);
}