.shareIcon {
    padding: 4px;
    border-radius: 50px;
    width: 8%;
}
.shareIcon:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    .shareIcon {
        width: 15%;
    }
}