@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.title {
    font-family: 'Monoton', cursive;
    padding: 0 40px;
}

@media only screen and (max-width: 960px) {
    .title {
        padding: 0 20px;
    }
}